@font-face {
  font-family: 'Tomatoes';
  src: url('../static/Tomatoes.ttf');
}

@font-face {
  font-family: 'AmericanPurpose';
  src: url('../static/AmericanPurpose.ttf');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: #fff300;
}

.c-main {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: center;

  font-family: 'AmericanPurpose';
  text-transform: uppercase;
  font-size: 1.5rem;

  color: #b30000;
}
.c-main__header {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 6rem;
  text-align: center;
}

.c-main__header .cursive {
  font-size: 2rem;
  font-family: 'Tomatoes';
  text-transform: none;
  display: block;
  margin-bottom: -10px;
}

.c-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 380px;
}
.c-form__inputWrapper {
  /* border: 1px solid black; */
  display: flex;
  /* flex-flow: column nowrap; */
  justify-content: space-between;
  padding: 1rem;
}
.c-form__inputWrapper--submit {
  grid-column: 1/-1;
  justify-content: center;
}
.c-form__label {
  padding-bottom: 1rem;
}
.c-form__input {
  padding: .75rem;
  font-size: 1rem;
  font-family: 'AmericanPurpose';
  text-transform: uppercase;
}
.c-form__input[type=number] {
  width: 150px;
}
.c-form__button {
  display: inline-block;
  padding: 10px 30px;

  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: 5px solid #b30000 ;
  color: #b30000;
  background-color: #fff300;
  border: none;

  font-family: 'AmericanPurpose';
  text-transform: uppercase;
}
.c-form__button:hover {
  color: #fff300;
  background-color: #b30000;
}
.c-form__button:active {
  color: #fff300;
  background-color: #b30000;
  transform: translateY(2px);
}

.c-result {
  margin-top: 25px;
  font-size: 2.75rem;
  text-align: center;
}

#warning {
  margin-top: 35px;
  display: none;
}

#disclaimer {
  position: absolute;
  bottom: 0;
  font-size: 1.25rem;
}

table {
  display: none;
  border-collapse: collapse;
}

td {
  padding: 10px 30px;
  font-size: 1.15rem;
  border-left: 5px solid #b30000;
  border-right: 5px solid #b30000;
}

tr.data-row {
  border-top: 5px solid #b30000;
}

tr.data-row td {  
  text-align: center;
}

tr.data-row td div {
  font-size: 1.75rem;
  text-align: center;
  padding-top: 5px;
}

@media (max-width: 450px) {
  .c-main {
    font-size: 1rem;
  }

  .c-main__header {
    font-size: 6rem;
    text-align: center;
  }

  .c-form__input[type=number] {
    width: 125px;
  }

  td {
    font-size: 1rem;
  }

  tr.data-row td div {
  font-size: 1.75rem;
  }
}